.container {
  display: flex;
  justify-content: space-around;

  &-buttons {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    gap: 4px;

    button {
      width: 30px;
      height: 30px;
    }
  }
}
